@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100% !important;
    height: 100% !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Paytone One", sans-serif !important;
}

img {
    object-fit: cover;
}

#coreWrap {
    width: 100% !important;
    height: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header {
}

/* PORTAL */
.card-bidang {
    height: 100vh;
}

.card-bidang figure {
    margin: 0;
}

.card-bidang figure figcaption {
    position: relative;
    z-index: 99;
    height: 100%;
    background-color: #2d2d2d;
    background: linear-gradient(
        180deg,
        rgba(106, 106, 106, 0) 36.98%,
        #323232 74.48%
    );
}

.card-bidang.active-portal figure figcaption {
    /* background-color: #3869E7 !important; */
    background: linear-gradient(
        180deg,
        rgba(56, 105, 231, 0) 48.87%,
        #3869e7 74.48%
    ) !important;
}

.card-bidang.card-portal-2:nth-of-type(2) figure figcaption {
    /* background-color: #269E64 !important; */
    background: linear-gradient(
        180deg,
        rgba(88, 255, 175, 0) 36.98%,
        #269e64 74.48%
    );
}

.card-bidang.card-portal-2:nth-of-type(1) figure figcaption {
    /* background-color: #D42F4D !important; */
    background: linear-gradient(
        180deg,
        rgba(241, 88, 116, 0) 36.98%,
        #d42f4d 74.48%
    );
}

.card-bidang img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    object-fit: cover;
    padding: 0;
    margin: 0;
    object-position: center bottom;
}

/* 

.card-bidang.card-portal-1:nth-of-type(2) img,
.card-bidang.card-portal-1:nth-of-type(3) img,
.card-bidang.card-portal-1:nth-of-type(4) img {
    filter: grayscale(1) !important;
}
 */

.nav-top {
    position: absolute;
    width: 100%;
    display: block;
    top: 1rem;
    left: 0;
    padding: 0;
    margin: 0 auto;
    z-index: 99;
}
.nav-top:nth-of-type(2) {
    top: 5rem;
}
.nav-top figure {
    width: fit-content;
    margin: 0 auto;
    border-radius: 60px;
}

.nav-top img {
    height: 40px;
    margin-right: 10px;
}

/* END PORTAL */

/* CUSTOM */
.wa-widget {
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
}

.crop-slider-top,
.crop-slider-bottom {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    z-index: 99;
}

.crop-slider-top {
    top: 0;
}

.crop-slider-bottom {
    bottom: 0;
}

.bg-blues {
    background: rgb(0, 80, 201);
    background: linear-gradient(
        180deg,
        rgba(0, 80, 201, 1) 0%,
        rgba(12, 142, 254, 1) 100%
    );
}

.bg-greens {
    background: #269e64;
    background: linear-gradient(180deg, #39d98c 36.98%, #269e64 100%);
}

.bg-reds {
    background: #d42f57;
    background: linear-gradient(180deg, #f15874 0%, #d42f57 100%);
}

.bg-img-overlay {
    position: relative !important;
}

.bg-img-overlay > .container {
    position: relative !important;
    z-index: 2;
}

.bg-img-overlay::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: grayscale(1);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1-img::after {
    background-image: url("../img/p1-3.jpg");
}

/* END CUSTOM */

main {
    width: 100%;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

#about-program {
    margin-top: -1.25rem;
}
#about-program .iklan-tentang {
    border-radius: 1rem;
}
#about-program .iklan-tentang img {
    width: 100%;
    height: 100px !important;
    object-fit: cover;
}

.card-artikel1 {
    transition: all 0.3s ease;
}

.card-artikel1 p {
    transition: all 0.3s ease;
}

.card-artikel1:hover p:nth-of-type(1) {
    color: #0d6efd !important;
}

.card-artikel1 figure {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
}

.card-artikel1 figure::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(106, 106, 106, 0) 36.98%,
        #323232 74.48%
    );
    opacity: 0.6;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.card-artikel1 figure:hover::before {
    opacity: 0.2;
}

.card-artikel1 figcaption {
    position: absolute;
    width: 90%;
    bottom: 0.75rem;
    right: 0;
    left: 0;
}

.card-kegiatan {
    text-decoration: none;
}

.card-kegiatan figure .badge {
    z-index: 99;
}

.card-kegiatan figure {
    transition: all 0.3s ease;
    box-shadow: none;
}

.card-kegiatan img {
    filter: grayscale(1);
    transition: all 0.3s ease;
}

.card-kegiatan:hover figure {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
}

.card-kegiatan:hover img {
    filter: grayscale(0);
}

.card-kegiatan figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(106, 106, 106, 0) 36.98%,
        rgba(0, 0, 0, 0.6) 74.48%
    );
    display: flex;
    align-items: end;
    justify-content: end;
}

.card-kegiatan figcaption > div {
    width: 100%;
    color: #fff;
    padding: 0.3rem;
}

.card-kegiatan figcaption p.text-secondary {
    font-size: 0.9rem;
}

#ppatbm-program .card-hg-maps {
    height: 350px;
}
#ppatbm-program .card-hg-maps img {
    top: 0;
    left: 0;
    z-index: 0;
}
#ppatbm-program .card-hg-maps figcaption {
    z-index: 1;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 36.98%,
        rgb(0, 0, 0, 0.7) 74.48%
    );
}
#aspirasi-section iframe {
    width: 600px;
    height: 450px;
    border: 0;
}
footer {
    /* background-color: blue; */
    bottom: 0;
    position: relative;
}

@media (min-width: 1200px) {
    .card-bidang.card-portal-1.col-lg-24 {
        width: 20%;
    }
}
@media (max-width: 1399.98px) {
    .nav-top {
        z-index: 102;
    }
    .nav-top:nth-of-type(2) {
        top: 5rem !important;
    }
    .nav-top figure {
        width: 78vw;
        border-radius: 50px;
    }
    .nav-top figure > .me-2 {
        text-align: center;
    }
    .nav-top figcaption {
        text-align: center;
        font-size: 1rem !important;
    }
    .nav-top.nav-top-portal2 figure {
        width: 60vw;
        border-radius: 40px;
    }
    .nav-top.nav-top-portal2 figure > .me-2 {
        width: auto;
    }
    .nav-top.nav-top-portal2 figcaption {
        width: auto;
        font-size: 1.25rem !important;
    }
    .nav-top img {
        height: 2.5rem;
        margin-right: 10px;
    }

    .card-bidang {
        height: 100vh;
    }
    .card-bidang figure {
        overflow: hidden;
    }
    .card-bidang img {
        height: 100%;
    }
    .card-bidang.card-portal-2 img {
        height: 100%;
    }
    .card-bidang figcaption h1 {
        font-size: 1.75rem !important;
    }
    .card-bidang.card-portal-2 figcaption h1 {
        margin-bottom: 1rem !important;
        font-size: 1.75rem !important;
        font-weight: normal !important;
    }
    .card-bidang figcaption p {
        font-size: 1.1rem !important;
    }
    .card-bidang figcaption a {
        font-size: 1.1rem !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 1199.98px) {
    .nav-top {
        z-index: 102;
    }
    .nav-top:nth-of-type(2) {
        top: 4.5rem !important;
    }
    .nav-top figure {
        width: 94vw;
        border-radius: 20px;
    }
    .nav-top figure > .me-2 {
        text-align: center;
    }
    .nav-top figcaption {
        text-align: center;
        font-size: 1rem !important;
    }
    .nav-top.nav-top-portal2 figure {
        width: 60vw;
        border-radius: 20px;
    }
    .nav-top.nav-top-portal2 figure > .me-2 {
        width: auto;
    }
    .nav-top.nav-top-portal2 figcaption {
        width: auto;
        font-size: 1rem !important;
    }
    .nav-top img {
        height: 2rem;
        margin-right: 10px;
    }
    .card-bidang {
        height: 100vh;
    }
    .card-bidang figure {
        overflow: hidden;
    }
    .card-bidang img {
        height: 100%;
    }
    .card-bidang.card-portal-2 img {
        height: 100%;
    }
    .card-bidang figcaption h1 {
        font-size: 1.5rem !important;
    }
    .card-bidang.card-portal-2 figcaption h1 {
        margin-bottom: 1rem !important;
        font-size: 1.5rem !important;
        font-weight: normal !important;
    }
    .card-bidang figcaption p {
        font-size: 1rem !important;
    }
    .card-bidang figcaption a {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 991.98px) {
    .wa-widget {
        z-index: 999;
        right: 0.5rem !important;
        bottom: 0.5rem !important;
    }

    /*----------------------CUSTOM SIZE---------------------- */
    p.fs-5 {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------CUSTOM SIZE---------------------- */
    .join-forumanak {
        text-align: center;
    }
    .join-forumanak p {
        margin-bottom: 0rem !important;
    }

    /*----------------------HEADER SLIDE---------------------- */

    #header-hero .logo-simapan {
        height: 100px;
        margin-bottom: 1rem;
    }
    #header-hero .header-title h1 {
        font-size: 1.5rem !important;
        margin-left: 0 !important;
    }
    #header-hero .header-title p {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #header-hero .header-slide figure {
        padding: 0 0.25rem !important;
    }
    #header-hero .header-slide figure img {
        width: 300px !important;
        height: 300px !important;
    }
    #header-hero .crop-slider-top,
    #header-hero .crop-slider-bottom {
        position: absolute;
        display: block;
        width: 200% !important;
        left: -100%;
        right: -100%;
        z-index: 99;
        margin: 0 auto !important;
    }
    #header-hero .crop-slider-top {
        top: -1px;
    }
    #header-hero .crop-slider-bottom {
        bottom: -0.5rem;
    }
    /*----------------------HEADER SLIDE---------------------- */

    /*----------------------ABOUT PROGRAM---------------------- */
    #about-program > .bg-blues {
        padding: 1.5rem 0 !important;
    }
    #about-program iframe.yt-tentang {
        height: 300px !important;
        margin-bottom: 0.5rem;
    }
    #about-program .desc-tentang {
        font-size: 1rem !important;
        line-height: 1.75rem !important;
    }
    #about-program .iklan-tentang {
        margin: auto 0.75rem !important;
    }
    #about-program .iklan-tentang img {
        height: 100px !important;
    }
    #about-program .about-program-layanan {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }
    #about-program .about-program-layanan > div.col-5 {
        margin: 0.5rem 0;
        justify-content: start !important;
    }
    /*----------------------ABOUT PROGRAM---------------------- */

    /*----------------------HIGHLIGHT FORUMANAK & PARENTING---------------------- */
    #highlight-forumanak > .py-5,
    #highlight-parenting > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #highlight-forumanak .col-11:nth-of-type(1) {
        text-align: center;
    }
    #highlight-forumanak .col-11 .fs-5.text-secondary {
        margin-bottom: 1.25rem !important;
    }
    #highlight-forumanak .card-artikel1 img,
    #highlight-parenting .card-artikel1 img {
        height: 275px !important;
    }
    #highlight-forumanak .card-artikel1 figcaption p,
    #highlight-parenting .card-artikel1 figcaption p {
        font-size: 1rem !important;
    }
    #highlight-parenting > .container > .d-flex {
        padding: 0 1rem !important;
    }
    /*----------------------HIGHLIGHT FORUMANAK---------------------- */

    /*----------------------PPATBM PROGRAM---------------------- */
    #ppatbm-program > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #ppatbm-program .maps-ppatbm figure {
        height: 300px !important;
    }
    #ppatbm-program .maps-ppatbm figure figcaption p {
        font-size: 1rem !important;
        margin-bottom: 1.25rem !important;
    }
    #ppatbm-program .keg-ppatbm .card img {
        height: 240px !important;
    }
    #ppatbm-program .keg-ppatbm .card .card-body {
        padding: 1rem 0.75rem;
    }
    #ppatbm-program .keg-ppatbm .card .card-body p {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------PPATBM PROGRAM---------------------- */

    /*----------------------ASPIRASI---------------------- */
    #aspirasi-section > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #aspirasi-section form {
        margin-top: 1.25rem;
        font-size: 1.1rem !important;
    }
    #aspirasi-section iframe {
        width: 100% !important;
        height: 275px !important;
        margin-top: 1rem !important;
    }
    #aspirasi-section .form-control-lg,
    #aspirasi-section form .btn {
        font-size: 1rem !important;
    }
    /*----------------------ASPIRASI---------------------- */

    .nav-top {
        z-index: 102;
    }
    .nav-top:nth-of-type(2) {
        top: 4.2rem !important;
    }
    .nav-top figure {
        width: 96vw;
        border-radius: 20px;
    }
    .nav-top figure > .me-2 {
        text-align: center;
    }
    .nav-top figcaption {
        text-align: center;
        font-size: 0.75rem !important;
    }
    .nav-top.nav-top-portal2 figure {
        width: 70vw;
        border-radius: 20px;
    }
    .nav-top.nav-top-portal2 figure > .me-2 {
        width: auto;
    }
    .nav-top.nav-top-portal2 figcaption {
        width: auto;
        font-size: 0.85rem !important;
    }
    .nav-top img {
        height: 1.75rem;
        margin-right: 10px;
    }
    .card-bidang {
        height: 100vh;
    }
    .card-bidang figure {
        overflow: hidden;
    }
    .card-bidang img {
        height: 100%;
    }
    .card-bidang.card-portal-2 img {
        height: 100%;
    }
    .card-bidang figcaption h1 {
        font-size: 1.5rem !important;
    }
    .card-bidang.card-portal-2 figcaption h1 {
        margin-bottom: 0.75rem !important;
        font-size: 1.25rem !important;
        font-weight: normal !important;
    }
    .card-bidang figcaption p {
        font-size: 1rem !important;
    }
    .card-bidang figcaption a {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .wa-widget {
        z-index: 999;
        right: 0.5rem !important;
        bottom: 0.5rem !important;
    }

    /*----------------------CUSTOM SIZE---------------------- */
    p.fs-5 {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------CUSTOM SIZE---------------------- */
    .join-forumanak {
        text-align: center;
    }
    .join-forumanak p {
        margin-bottom: 0.5rem !important;
    }

    /*----------------------HEADER SLIDE---------------------- */

    #header-hero .logo-simapan {
        height: 100px;
        margin-bottom: 1rem;
    }
    #header-hero .header-title h1 {
        font-size: 1.5rem !important;
        margin-left: 0 !important;
    }
    #header-hero .header-title p {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #header-hero .header-slide figure {
        padding: 0 0.25rem !important;
    }
    #header-hero .header-slide figure img {
        width: 250px !important;
        height: 250px !important;
    }
    #header-hero .crop-slider-top,
    #header-hero .crop-slider-bottom {
        position: absolute;
        display: block;
        width: 200% !important;
        left: -100%;
        right: -100%;
        z-index: 99;
        margin: 0 auto !important;
    }
    #header-hero .crop-slider-top {
        top: -1px;
    }
    #header-hero .crop-slider-bottom {
        bottom: -3px;
    }
    /*----------------------HEADER SLIDE---------------------- */

    /*----------------------ABOUT PROGRAM---------------------- */
    #about-program > .bg-blues {
        padding: 1.5rem 0 !important;
    }
    #about-program iframe.yt-tentang {
        height: 250px !important;
        margin-bottom: 0.5rem;
    }
    #about-program .desc-tentang {
        font-size: 1rem !important;
        line-height: 1.75rem !important;
    }
    #about-program .iklan-tentang {
        margin: auto 0.75rem !important;
    }
    #about-program .iklan-tentang img {
        height: 80px !important;
    }
    #about-program .about-program-layanan {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }
    #about-program .about-program-layanan > div.col-5 {
        margin: 0.5rem 0;
        justify-content: start !important;
    }
    /*----------------------ABOUT PROGRAM---------------------- */

    /*----------------------HIGHLIGHT FORUMANAK & PARENTING---------------------- */
    #highlight-forumanak > .py-5,
    #highlight-parenting > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #highlight-forumanak .col-11:nth-of-type(1) {
        text-align: center;
    }
    #highlight-forumanak .col-11 .fs-5.text-secondary {
        margin-bottom: 1.25rem !important;
    }
    #highlight-forumanak .card-artikel1 img,
    #highlight-parenting .card-artikel1 img {
        height: 275px !important;
    }
    #highlight-forumanak .card-artikel1 figcaption p,
    #highlight-parenting .card-artikel1 figcaption p {
        font-size: 1rem !important;
    }
    #highlight-parenting > .container > .d-flex {
        padding: 0 1rem !important;
    }
    /*----------------------HIGHLIGHT FORUMANAK---------------------- */

    /*----------------------PPATBM PROGRAM---------------------- */
    #ppatbm-program > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #ppatbm-program .maps-ppatbm figure {
        height: 300px !important;
    }
    #ppatbm-program .maps-ppatbm figure figcaption p {
        font-size: 1rem !important;
        margin-bottom: 1.25rem !important;
    }
    #ppatbm-program .keg-ppatbm .card img {
        height: 240px !important;
    }
    #ppatbm-program .keg-ppatbm .card .card-body {
        padding: 1rem 0.75rem;
    }
    #ppatbm-program .keg-ppatbm .card .card-body p {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------PPATBM PROGRAM---------------------- */

    /*----------------------ASPIRASI---------------------- */
    #aspirasi-section > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #aspirasi-section form {
        margin-top: 1.25rem;
        font-size: 1.1rem !important;
    }
    #aspirasi-section iframe {
        width: 100% !important;
        height: 275px !important;
        margin-top: 1rem !important;
    }
    #aspirasi-section .form-control-lg,
    #aspirasi-section form .btn {
        font-size: 1rem !important;
    }
    /*----------------------ASPIRASI---------------------- */

    .nav-top {
        z-index: 102;
    }
    .nav-top:nth-of-type(2) {
        top: 5.2rem !important;
    }
    .nav-top figure {
        width: 98vw;
        border-radius: 20px;
    }
    .nav-top figure > .me-2 {
        width: 100%;
        text-align: center;
    }
    .nav-top figcaption {
        width: 100%;
        text-align: center;
        font-size: 0.75rem !important;
    }
    .nav-top.nav-top-portal2 figure {
        width: 85vw;
        border-radius: 20px;
    }
    .nav-top.nav-top-portal2 figure > .me-2 {
        width: auto;
    }
    .nav-top.nav-top-portal2 figcaption {
        width: auto;
        font-size: 0.75rem !important;
    }
    .nav-top img {
        height: 25px;
        margin-right: 10px;
    }
    .card-bidang {
        height: 300px;
    }
    .card-bidang.card-portal-1:nth-of-type(1),
    .card-bidang.card-portal-1:nth-of-type(2) {
        height: 450px;
    }
    .card-bidang figure {
        overflow: hidden;
    }
    .card-bidang img {
        position: absolute;
        width: 100%;
        height: 110%;
        object-fit: cover;
        object-position: top;
    }
    .card-bidang.card-portal-2 img {
        height: 170%;
        object-fit: cover;
        object-position: center bottom;
    }
    .card-bidang figcaption h1 {
        font-size: 1.75rem !important;
        margin-bottom: 0 !important;
        font-weight: normal !important;
    }
    .card-bidang.card-portal-2 figcaption h1 {
        margin-bottom: 0.75rem !important;
        font-size: 1.5rem !important;
    }
    .card-bidang figcaption p {
        font-size: 1rem !important;
        margin-bottom: 0.75rem !important;
    }
    .card-bidang figcaption a {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 575.98px) {
    .wa-widget {
        z-index: 999;
        right: 0.5rem !important;
        bottom: 0.5rem !important;
    }

    /*----------------------CUSTOM SIZE---------------------- */
    p.fs-5 {
        font-size: 0.9rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------CUSTOM SIZE---------------------- */
    .join-forumanak {
        text-align: center;
    }
    .join-forumanak p {
        margin-bottom: 0.5rem !important;
    }

    /*----------------------HEADER SLIDE---------------------- */

    #header-hero .logo-simapan {
        height: 75px;
        margin-bottom: 0.5rem;
    }
    #header-hero .header-title h1 {
        font-size: 1.25rem !important;
        margin-left: 0 !important;
    }
    #header-hero .header-title p {
        font-size: 0.9rem !important;
        margin-bottom: 1rem !important;
    }
    #header-hero .header-slide figure {
        padding: 0 0.5rem !important;
    }
    #header-hero .header-slide figure img {
        width: 220px !important;
        height: 200px !important;
    }
    #header-hero .crop-slider-top,
    #header-hero .crop-slider-bottom {
        position: absolute;
        display: block;
        width: 250% !important;
        left: -125%;
        right: -125%;
        z-index: 99;
        margin: 0 auto !important;
    }
    #header-hero .crop-slider-top {
        top: -0.1rem;
    }

    #header-hero .crop-slider-bottom {
        bottom: 0;
    }
    /*----------------------HEADER SLIDE---------------------- */

    /*----------------------ABOUT PROGRAM---------------------- */
    #about-program > .bg-blues {
        padding: 1.5rem 0 !important;
    }
    #about-program iframe.yt-tentang {
        height: 200px !important;
        margin-bottom: 0.5rem;
    }
    #about-program .desc-tentang {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
    #about-program .iklan-tentang {
        margin: auto 0.75rem !important;
    }
    #about-program .iklan-tentang img {
        height: 70px !important;
    }
    #about-program .about-program-layanan {
        margin-bottom: 1rem;
    }
    #about-program .about-program-layanan > div.col-5 {
        margin: 0.5rem 0;
        padding: 0 !important;
        justify-content: start !important;
    }
    /*----------------------ABOUT PROGRAM---------------------- */

    /*----------------------HIGHLIGHT FORUMANAK & PARENTING---------------------- */
    #highlight-forumanak > .py-5,
    #highlight-parenting > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #highlight-forumanak .col-11:nth-of-type(1) {
        text-align: center;
    }
    #highlight-forumanak .col-11 .fs-5.text-secondary {
        margin-bottom: 1.25rem !important;
    }
    #highlight-forumanak .card-artikel1 img,
    #highlight-parenting .card-artikel1 img {
        height: 250px !important;
    }
    #highlight-forumanak .card-artikel1 figcaption p,
    #highlight-parenting .card-artikel1 figcaption p {
        font-size: 0.9rem !important;
    }
    #highlight-parenting > .container > .d-flex {
        padding: 0 1rem !important;
    }
    /*----------------------HIGHLIGHT FORUMANAK---------------------- */

    /*----------------------PPATBM PROGRAM---------------------- */
    #ppatbm-program > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #ppatbm-program .maps-ppatbm figure {
        height: 270px !important;
    }
    #ppatbm-program .maps-ppatbm figure figcaption p {
        font-size: 0.9rem !important;
        margin-bottom: 1.25rem !important;
    }
    #ppatbm-program .keg-ppatbm .card img {
        height: 220px !important;
    }
    #ppatbm-program .keg-ppatbm .card .card-body {
        padding: 0.75rem 0.5rem;
    }
    #ppatbm-program .keg-ppatbm .card .card-body p {
        font-size: 0.9rem !important;
        margin-bottom: 0 !important;
    }
    /*----------------------PPATBM PROGRAM---------------------- */

    /*----------------------ASPIRASI---------------------- */
    #aspirasi-section > .py-5 {
        padding: 1.5rem 0 !important;
    }
    #aspirasi-section form {
        margin-top: 1rem;
        font-size: 1rem !important;
    }
    #aspirasi-section iframe {
        width: 100% !important;
        height: 250px !important;
        margin-top: 1rem !important;
    }
    #aspirasi-section .form-control-lg,
    #aspirasi-section form .btn {
        font-size: 1rem !important;
    }
    /*----------------------ASPIRASI---------------------- */

    .nav-top {
        z-index: 102;
    }
    .nav-top:nth-of-type(2) {
        top: 6.8rem !important;
        /* z-index: 999; */
    }
    .nav-top figure {
        width: 95vw;
        border-radius: 30px;
        display: block !important;
        text-align: center;
    }
    .nav-top figure > .me-2 {
        width: 100%;
        display: block;
        margin-bottom: 0.25rem;
    }
    .nav-top figcaption {
        width: 100%;
        display: block;
        font-size: 0.75rem !important;
    }
    .nav-top img {
        height: 25px;
        margin-right: 10px;
    }

    .card-bidang {
        height: 300px;
    }
    .card-bidang.card-portal-1:nth-of-type(1) {
        height: 550px;
    }
    .card-bidang figure {
        overflow: hidden;
    }
    .card-bidang img {
        position: absolute;
        width: 100%;
        height: 130%;
        object-fit: cover;
        object-position: center bottom;
    }
    .card-bidang.card-portal-2 img {
        height: 170%;
        object-fit: cover;
        object-position: center bottom;
    }
    .card-bidang.card-portal-2 figcaption h1 {
        margin-bottom: 0.75rem !important;
    }
    .card-bidang figcaption h1 {
        font-size: 1.5rem !important;
        margin-bottom: 0 !important;
        font-weight: normal !important;
    }
    .card-bidang figcaption p {
        font-size: 1rem !important;
        margin-bottom: 0.75rem !important;
    }
    .card-bidang figcaption a {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }
    .card-bidang.card-portal-1:nth-of-type(1) figure figcaption,
    .card-bidang.card-portal-2:nth-of-type(3) figure figcaption {
        background: linear-gradient(
            180deg,
            rgba(56, 105, 231, 0) 30.87%,
            #3869e7 80.48%
        ) !important;
    }
}
